<head>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>

</head>
<body>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>


    <div id="map" style="height: 400px; width: 600px;"></div>
    
    <div class="timeline-container">
        <input type="range" id="month-slider" min="0" max="11" value="0" step="1">
        <label for="month-slider">Month: <span id="month-label">January</span></label>
    </div>

    <script type="text/javascript">

        const months = ["jan", "feb", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec"];
        const monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

        let map; // stores Leaflet map
        let geoLayer; // stores geoJSON overlays
        let tickData; // stores pest data

        // Color function for the shading
        function getColor(pest) {
            return  pest > 25 ? '#08589e':
                    pest > 20 ? '#2b8cbe':
                    pest > 15 ? '#4eb3d3':
                    pest > 10 ? '#7bccc4':
                    pest > 5  ? '#a8ddb5':
                    pest > 0  ? '#ccebc5':
                                '#f0f9e8';
        }

        // Updates map based on month
        function updateMap(monthIndex) {
            const selectedMonth = months[monthIndex];
            document.getElementById('month-label').innerText = monthNames[monthIndex]; // update month on slider

            if (geoLayer) { // guard incase map needs to update before data is loaded
                geoLayer.setStyle(feature => {
                    const id = feature.properties.suburb_id;
                    const cases = tickData[id][selectedMonth] || 0; // pull data from stats file
                    return {
                        fillColor: getColor(cases),
                        weight: 1,
                        opacity: 1,
                        color: 'white',
                        fillOpacity: 0.7
                    };
                });
            }
        }
        
        async function initMap() {
            map = L.map('map').setView([-16.920298801405686, 145.77101107749607], 12);
            
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);

            try {
                const [geoRes, statsRes] = await Promise.all([
                    fetch("{{ '/assets/maps/cairns.json' | relative_url }}"),
                    fetch("{{ '/assets/data/tick-stats.json' | relative_url }}")
                ]);

                var geojson = await geoRes.json();
                tickData = await statsRes.json();

                geoLayer = L.geoJSON(geojson).addTo(map);
                map.fitBounds(geoLayer.getBounds());

                const slider = document.getElementById('month-slider');

                slider.addEventListener('input', function(e) {
                    updateMap(e.target.value);
                });

                updateMap(0);

            } catch(error) {
                console.error("Error loading map data: ", error);
            }
        }

        window.onload = initMap();

    </script>

</body>